{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="nav-left">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="" srcset="">
                </div>
                <h1>ToDo</h1>
            </div>
             <div class="nav-items-center">
                <h3>Home</h3>
                <a href="{% url 'tasks' %}"><h3>Task</h3></a>
                <h3>Features</h3>
                <h3>About</h3>
            </div>
            <div class="nav-right">
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}"><button id="btn1">Logout</button></a>
                {% else %}
                <button id="btn1" onclick="pro()">Login</button>
                <button id="btn2" onclick="signup()">SignUp</button>
                {% endif %}
            </div>
        </div>
        <div class="home-content">
            <div class="left-card">
                <div class="integration-tools">
                    <div class="left-content">
                        <h4>Integration Tools</h4>
                        <h6>Avg Response Time : </h6>
                        <div class="response-time">365 <span class="tag">✔ Fast</span></div>
                        <h6>Second</h6>
                    </div>
                    <div class="right-img">
                        <img src="{% static 'images/integration img.png' %}" alt="" class=""> 
                    </div>
                </div>
                <div class="stat-wrapper">
                    <div class="stat-card total">
                        <div class="icon"><ion-icon name="people-outline"></ion-icon></div>
                        <div class="stat-text">
                        <div class="value">1,273</div>
                        <div class="label">Total Customers</div>
                        </div>
                    </div>

                    <div class="stat-card">
                        <div class="icon"><ion-icon name="person-outline"></ion-icon></div>
                        <div class="stat-text">
                        <div class="value">828</div>
                        <div class="label">Active Customers</div>
                        </div>
                    </div>

                    <div class="stat-card">
                        <div class="icon"><ion-icon name="wallet"></ion-icon></div>
                        <div class="stat-text">
                        <div class="value">$10,928</div>
                        <div class="label">Revenue</div>
                        </div>
                    </div>

                    <div class="stat-card">
                        <div class="icon"><ion-icon name="card"></ion-icon></div>
                        <div class="stat-text">
                        <div class="value">$2,912</div>
                        <div class="label">Expense</div>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="right-content">
                <div class="right-text">
                    <h3>connecting people</h3>
                    <h1>
                        Turn Tasks 
                        <span class="highlight-icon"><ion-icon name="radio-outline"></ion-icon></span><br>
                        into Done with 
                        <span class="flash-icon"><ion-icon name="flash"></ion-icon></span>
                        <span class="ToDo">ToDo</span>
                    </h1>
                    <p>Imagine a day where tasks are clear, deadlines are met, and your to-do list works for you, <br> not against you.</p>
                </div>
                <div class="right-buttons">
                    <button class="Startforfree-button">
                        Start for Free
                        <span class="arrow"><ion-icon name="arrow-forward-sharp"></ion-icon></span> <!-- Right Arrow -->
                    </button>
                    <button class="learnmore-button">
                        Learn more
                        <span class="arrow"><ion-icon name="arrow-forward-sharp"></ion-icon></span> <!-- Right Arrow -->
                    </button>    
                </div>
                <div class="blocks">
                    <div class="first-block">
                        <h4>Trusted by Teams</h4>
                        <h2>500+</h2>
                    </div>
                    <div class="first-block">
                        <h4>Saved Million Hours</h4>
                        <h2>5M</h2>
                    </div>
                    <div class="first-block">
                        <h4>User Satisfaction</h4>
                        <h2>90%</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-section">
            <div class="headings">
                <h6>Project Progress</h6>
                <h1>Tools That Work For You</h1>
                <h1>Not Against You</h1>
                <p>Taskly makes managing tasks feel effortless and intuitive.</p>
            </div>
            <div class="featurecard-container">
                <div class="feature-row1">
                    <div class="feature-card">
                        <div class="card-icon"><ion-icon name="analytics"></ion-icon></div>
                        <h3>Organize</h3>
                        <p>Arrange tasks by priority and <br>deadlines.</p>
                        <button class="explore-button">
                        Explore now
                        <span class="arrow-icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span> <!-- Right Arrow -->
                        </button>
                    </div>
                    <div class="feature-card">
                        <div class="card-icon"><ion-icon name="analytics"></ion-icon></div>
                        <h3>Collaborate</h3>
                        <p>Work together effortlessly in real- <br>time.</p>
                        <button class="explore-button">
                        Explore now
                        <span class="arrow-icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span> <!-- Right Arrow -->
                        </button>
                    </div>
                    <div class="feature-card">
                        <div class="card-icon"><ion-icon name="analytics"></ion-icon></div>
                        <h3>Automate</h3>
                        <p>Streamline tasks with smart <br>automations.</p>
                        <button class="explore-button">
                        Explore now
                        <span class="arrow-icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span> <!-- Right Arrow -->
                        </button>
                    </div>
                    <div class="feature-card">
                        <div class="card-icon"><ion-icon name="analytics"></ion-icon></div>
                        <h3>Track</h3>
                        <p>Track & see project progress at a<br>glance.</p>
                        <button class="explore-button">
                        Explore now
                        <span class="arrow-icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span> <!-- Right Arrow -->
                        </button>
                    </div>
                </div>
                <div class="feature-row2">
                    <div class="feature-card">
                        <div class="card-icon"><ion-icon name="analytics"></ion-icon></div>
                        <h3>Integrate</h3>
                        <p>Connect taskly wth your favourite <br>tools.</p>
                        <button class="explore-button">
                        Explore now
                        <span class="arrow-icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span> <!-- Right Arrow -->
                        </button>
                    </div>
                    <div class="feature-card">
                        <div class="card-icon"><ion-icon name="analytics"></ion-icon></div>
                        <h3>Customize</h3>
                        <p>Create workflows that suit your <br>style.</p>
                        <button class="explore-button">
                        Explore now
                        <span class="arrow-icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span> <!-- Right Arrow -->
                        </button>
                    </div>
                    <div class="feature-card">
                        <div class="card-icon"><ion-icon name="analytics"></ion-icon></div>
                        <h3>Notify</h3>
                        <p>Notify & get timely reminders and <br>updates.</p>
                        <button class="explore-button">
                        Explore now
                        <span class="arrow-icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span> <!-- Right Arrow -->
                        </button>
                    </div>
                    <div class="feature-card">
                        <div class="card-icon"><ion-icon name="analytics"></ion-icon></div>
                        <h3>Analyze</h3>
                        <p>Gain insights with productivity<br>reports.</p>
                        <button class="explore-button">
                        Explore now
                        <span class="arrow-icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span> <!-- Right Arrow -->
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    <div class="login" id="loginwrap" >
        <div class="login-card" >
            <div class="login-details">
                <form action="{% url 'login' %}" method="post">{% csrf_token %}
                <div class="head">
                <h3>Login</h3>
                <h4 id="closebtn" onclick =closePopup()>X</h4></div>
                <input type="text" name="username" placeholder="Username">
                <input type="text" name="password" placeholder="Password">
                <p>{{msg}}</p>
                <button type="submit" id="btn" >Login</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="signup" id="signupwrap" >
        <div class="signup-card" >
            <div class="signup-details">
                <form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="head">
                <h3>Signup</h3>
                <h4 id="closbtn" onclick =closePop()>X</h4></div>
                <input type="file" name="image">
                <input type="text" name="firstname" placeholder="Firstname">
                <input type="text" name="lastname" placeholder="Lastname">
                <input type="text" name="email" placeholder="Email">
                <input type="tel" name="number" id="phone" placeholder="Phone number" maxlength="10" minlength="10" required>
                <input type="text" name="username" placeholder="Username">
                <input type="text" name="password" placeholder="Password">
                <button type="submit" id="btn" >SignUp</button>
                </form>
            </div>
        </div>
    </div>
    
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>  
<script src="{% static 'js/homepage.js' %}"></script>
</body>
</html>