{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="nav-left">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="" srcset="">
                </div>
                <h1>ToDo</h1>
            </div>
             <div class="nav-items-center">
                <a href="{% url 'homepage' %}"><h3>Home</h3></a>
                <h3>Task</h3>
                <h3>Features</h3>
                <h3>About</h3></a>
            </div>
            <div class="nav-right">
                <button id="btn1" onclick="">Logout</button>
            </div>
        </div>
        <div class="head-section">
            <h1>Welcome To ToDoApp</h1>
            <h6>Add your todos now</h6>
        </div>
        <div class="form-container">
            <form action="{% url 'add_task' %}" method="POST">{% csrf_token %}
                <div class="addtodo">
                <input type="text" name="todos" placeholder="Enter your tasks">
                <input type="date" name="deadline" placeholder="">
                <button type="submit" id="add">Add todo</button>
                </div>
            </form>
        
        </div>
        <div class="todo-tables">
            <table>
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Date</th>
                        <th>Todos</th>
                        <th>Deadline</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                     {% for i in tasks %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% if i.complete %}
                        <td style="text-decoration: line-through;">{{ i.created_date|date:"d/m/Y" }}</td>
                        <td style="text-decoration: line-through;">{{ i.todos }}</td>
                        <td style="text-decoration: line-through;">{{ i.deadline|date:"d/m/Y" }}</td>
                        {% else %}
                        <td>{{ i.created_date|date:"d/m/Y" }}</td>
                        <td>{{ i.todos }}</td>
                        <td>{{ i.deadline|date:"d/m/Y" }}</td>
                        {% endif %}
                        <td>
                            {% if i.complete %}
                            <a href="{% url 'taskclose' pk=i.pk %}"><button type="submit" class="btn black"><ion-icon name="close-circle-outline"></ion-icon></button></a>
                            <a href="{% url 'edit' pk=i.pk %}"><button type="submit" class="btn blue" ><ion-icon name="create-outline"></ion-icon> </button></a>
                            <a href="{% url 'taskdelete' pk=i.pk %}"><button type="submit" class="btn red"><ion-icon name="trash-outline"></ion-icon> </button></a>
                            {% else %}
                            <a href="{% url 'taskcomplete' pk=i.pk %}"><button type="submit" class="btn green"><ion-icon name="checkbox"></ion-icon></button></a>
                            <a href="{% url 'edit' pk=i.pk %}"><button type="submit" class="btn blue" ><ion-icon name="create-outline"></ion-icon> </button></a>
                            <a href="{% url 'taskdelete' pk=i.pk %}"><button type="submit" class="btn red"><ion-icon name="trash-outline"></ion-icon> </button></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No tasks yet. Start adding some!</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>









<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>  
<script src="{% static 'js/tasks.js' %}"></script>
</body>
</html>